
.box1{
	height: 50vh;
	background-color: coral;
	text-align: center;
}
.uname{
	margin-top: 70px;
	display: block;
}
.box2{
	/*text-align: center;*/

}
.upass{
	margin-bottom: 30px;
}

.red{
	/*margin-left: 20px;*/
	color: red;
	/*font-size: 15px;*/
	/*border: 2px solid red;*/

}
.green{
	/*border: 2px solid green;*/
	color: green;
}
.positive{
	color: green;
}
.negative{
	color: red;
}
/*.fc-mac{
	width: 100%;

	border:2px solid green;
}*/

/*#btn1{
	margin-right: 10px;
}*/